<div class="container" style="margin-top: 50px;">
  
  <div class="row">
    <strong>
      <h2>JobBoard</h2>
    </strong>
    <div class="col-md-9">
      <%= render @jobs %>
    </div>
    <div class="col-md-3">
      <div class="row">
        <strong>
          TOP COMPANIES
        </strong>
      </div>
      <% @companies.each do |company| %>
        <div class="row">
          <h4><%= link_to "#{company.name}", company %></h4>
        </div>
      <% end %>
      <div class="row" style="margin-top: 50px;">
        <strong>
          <% if current_user %>
            <%= link_to 'Add new vacancy', new_job_path(@job) %>
          <% end %>
        </strong>
      </div>
    </div>
  </div>
  <div class="text-center">
    <%= paginate @jobs %>
  </div>
</div>
